@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}
nav {
  display: inline-block;
  height: 60px;
  width: 100%;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#noIcon {
  height: auto;
}

ul {
  display: inline;
}
a {
  text-decoration-color: none;
  transition: 0.5s ease all;
  justify-content: center;
  color: #1f3749;
}
a:hover {
  color: white;
}
span {
  font-weight: 900;
}
h1 {
  font-size: 5rem;
  font-weight: 900;
  color: white;
  z-index: 2;
  position: absolute;
  right: 160px;
  margin-top: 180px;
}
.menu {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-right: 7vw;
}
.menuItem {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px;
}
#menuItem {
  color: #1d324a;
}
#menuItem:hover {
  color: white;
  background-color: #024a93;
  height: 20px;
}
.color-blue {
  color: #006ec9;
}
.gral-container {
  width: 100%;
}
.centerText {
  text-align: center;
  padding: 10px;
}
.logo {
  width: 10vw;
  float: left;
  margin-left: 7vw;
  margin-top: 2vh;
}

/* ---------------------------Carousel-------------------------*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  overflow: hidden;
}

.img {
  width: 100%;
}
#overlay {
  width: 55%;
  height: 100%;
  background: #024a93;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  right: 0px;
}

/* Next & previous buttons */
.box_prevnext {
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-right: 16px;
  transform: translate(0, -50%);
  z-index: 1;
}
.next,
.prev {
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #ffffff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  display: block;
  transition: background-color 0.6s ease;
  margin: 5px;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Acerca */
/* Slideshow container */
.acerca-container {
  position: relative;
  margin: auto;
  justify-content: right;
  align-content: right;
  font-family: "Lato", sans-serif;
  /*
  background-image: url("assets2/acerca.PNG");
  background-repeat: no-repeat;
  background-size: cover;
*/
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.acerca-image {
  width: 100%;
  height: auto;
  background-color: black;
  background-image: url("assets2/acerca.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}
.acerca-text-container {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  padding: 50px;
  width: 40%;
  line-height: 1.4;
}

.acerca-header {
  display: inline;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
}

.acerca-subheader {
  color: #024a93;
  font-weight: 900;
}
.acerca-bullet-container {
  display: table-row;
}
.acerca-bullet-symbol {
  color: #006ec9;
}
.acerca-bullet-text-container {
  display: table-cell;
  height: 100%;
}
.acerca-bullet-text {
  margin-left: 10px;
  margin-top: 10px;
}
/* line */
.line,
.line2,
.line3 {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  display: inline;
  margin-left: 2vw;
}

.line {
  transform: translate(0, -50%);
}
.line2 {
  margin-left: 1.5vw;
  position: absolute;
  transform: translate(0, -15%);
}
.line3 {
  position: absolute;
  transform: translate(0, -60%);
  border-bottom: 1px solid #006ec9;
}

/******************************* ACCORDION ********************************************/
.accordion-container {
  background-image: url("assets/ocho.png");
  background-color: black;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion-container::before {
  background-color: black;
}

.accordion-buttons-container {
  margin-top: 20px;
}
.accordion {
  /*background-color: #eee;*/
  /*  color: #444;*/
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  border-color: #024a93;
  /*border-width: 0.5px;
  border-style: solid;*/
  border-top: 0.5px solid #01172cde;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px;
}

.accordion-active {
  border-left: 0px;
  border-right: 0px;
  border-top-style: solid;
  border-bottom-style: none;

  /*background-color: #eee;*/
  /*  color: #444;*/
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  border-top: 0.5px solid #01172cde;
  border-width: 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px;
}

.accordion:after {
  /* content: '\65087';*/
  /*  color: #777;*/
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  display: block;
}

.services-header {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 7.5vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
.services-header-text {
  display: inline;
}
.accordion-button-icon-text-container {
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
}

.accordion-button-icon {
  height: 40px;
  width: auto;
}

.accordion-button-text {
  margin-left: 20px;
}

.accordion-button-text {
  font-size: 1.8rem;
  color: white;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  padding: 15px;
}
.accordion-button-arrow {
  color: #024a93;
  margin-left: 100px;
  position: absolute;
  right: 30px;
  z-index: 50;
}

.accordion-button-arrow-active {
  color: white;
  margin-left: 100px;
  position: absolute;
  right: 30px;
  z-index: 50;
}

.accordion-barra {
  display: none;
}
.accordion-barra-active {
  background-color: #024a93;
  width: 40%;
  align-self: stretch;
  z-index: 10;
  margin-left: auto;
  display: flex;
}

.panel {
  display: none;
}

.panel-active {
  background-color: black;
  display: block;
  overflow: visible;
  height: 350px;
  position: relative;
}

.panel-text {
  color: white;
  max-width: 250px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translate(100px, -66%);
}
.panel-image {
  height: 300px;
  z-index: 40;
  display: inline;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  overflow: visible;
}

.accordion-panel-barra {
  display: none;
}
.accordion-panel-barra-active {
  background-color: #024a93;
  width: 40%;
  height: 350px;
  z-index: 10;
  display: inline-block;
  right: 0;
  position: absolute;
}

#height {
  height: 70px;
}

/*----------FORM--------------------*/

.mini-title {
  color: #006ec9;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.title-form {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  text-align: center;
  color: #024a93;
  margin-top: 10px;
}
.background {
  background-image: url("assets/pexels-pixabay-373076.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  background-color: #ffffff;
  width: 60%;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  transform: translate(0, -8%);
  z-index: 55;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
}
.both {
  width: 50%;
  margin-top: 20px;
}
.width {
  width: 100%;
}
input,
textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid grey;
  font-family: "Lato", sans-serif;
  width: 90%;
  margin-top: 10px;
  padding: 10px 0px;
}

#message {
  height: 80px;
}

.submit {
  margin: 0 auto;
  height: 30px;
  width: 40%;
  background-color: #024a93;
  border: none;
  color: #ffffff;
  font-weight: bolder;
}
#color-icon {
  background-color: #006ec9;
  color: #ffffff;
  padding: 7px;
}
.align {
  align-items: center;
  background-color: #024a93;
  width: 40%;
  margin: 0 auto;
}
.tel {
  text-align: center;
}
.copyright {
  text-align: center;
}
footer {
  background-color: #024a93;
  color: #ffffff;
  padding-top: 20px;
}
.white-logo {
  background-image: url("assets/logo_bco.png");
  height: 65px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 20px;
}
.ocho {
  background-image: url("assets/ocho.png");
  right: 10px;
  width: 100%;
  background-color: #024a93;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 70px;
}
.img-footer {
  display: flex;
  justify-content: flex-end;
}
