@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}
nav {
  display: inline-block;
  height: 60px;
  width: 100%;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#noIcon {
  height: auto;
}

ul {
  display: inline;
}
a {
  text-decoration-color: none;
  transition: 0.5s ease all;
  justify-content: center;
  color: #1f3749;
}
a:hover {
  color: white;
  background-color: #b13346;
}
span {
  font-weight: 900;
}
h1 {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15vh;
  font-size: 3rem;
  font-weight: 100;
}
select {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  border: none;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 5px;
  padding-left: 5px;
}



.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-right: 7vw;
}
.menuItem {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-weight: bolder;
  font-size: 15px;
}
#menuItem {
  color: #1d324a;
}
#menuItem:hover {
  color: white;
  background-color: #b13346;
  height: 20px;
}


.gral-container {
  width: 100%;
}
.centerText {
  text-align: center;
  padding: 10px;
}
.logo {
  width: 10vw;
  float: left;
  margin-left: 7vw;
  margin-bottom: 5px;
}

/* ---------------------------Carousel-------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.box_prevnext {
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-right: 16px;
  transform: translate(0, -50%);
}
.next, .prev { 
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #FFFFFF;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  display: block;  
  transition: background-color 0.6s ease; 
  margin: 5px; 
}

.active, .dot:hover {
  background-color:#FFFFFF;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Acerca */
/* Slideshow container */
.acerca-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
  justify-content: right;
  align-content: right;
/*
  background-image: url("assets2/acerca.PNG");
  background-repeat: no-repeat;
  background-size: cover;
*/
align-items: center;
  overflow: hidden;
  width: 100%;
}
.acerca-image{
  width: 100%;
}
.acerca-text-container{
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  padding: 50px;
}

.acerca-header{
  display: inline;
}

.acerca-subheader{
  color: blue;
}
.acerca-bullet-container{
  display: table-row;
}

.acerca-bullet-text-container{
  display: table-cell;
  height: 100%;
}
.acerca-bullet-text{
  margin-left: 10px;
  margin-top: 10px;
}
/* line */
.line, .line2, .line3 {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  display: inline;
  }

.line{
  transform: translate(0, -50%);
}
.line2{
  position: absolute;
  transform: translate(0, -25%);
}
.line3{
  position: absolute;
  transform: translate(0, -75%);
}
/* ACCORDIN */
.accordion-container{
  /*background-color: cornflowerblue;*/
  padding: 10px;
  background-image: url("assets2/accordion.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  display: block;
}

.panel {
  padding: 0 18px;
  background-color:black;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.services_header{
  display: inline;
  margin-top: 10px;
}

.accordion-buttons{
  margin-top: 20px;
}